
<div class="flex-row flex-center-xs">
  <%= link_to facturas_url, class: 'link_sem_decoracao' do %>
    <div class="mc-card">
      <h4><span class="fa fa-pencil-square-o fa-3x icone-do-site aumenta-o-icone"></span></h4>
      <p>FACTURAR</p>
    </div>
  <% end %>

  <%= link_to funcionarios_url, class: 'link_sem_decoracao' do %>
    <div class="mc-card">
      <h4><span class="fa fa-folder-open-o fa-3x icone-do-site aumenta-o-icone"></span></h4>
      <p>FUNCIONÁRIOS</p>
    </div>
  <% end %>


  <%= link_to empresas_url, class: 'link_sem_decoracao' do %>
    <div class="mc-card">
      <h4><span class="fa fa-cogs fa-3x icone-do-site aumenta-o-icone"></span></h4>
      <p>CONFIG.</p>
    </div>
  <% end %>
</div>
