<br>
<h3 style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">
  Olá, <%= @usuario.nome %>
</h3>
<br>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">O seu registo na Facom sistema integral de facturação foi aprovado.</p>
<br>
<h5>Dados do Email</h5>
<br>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;"><strong>Usuário:</strong> <%= @usuario.email %></p>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;"><strong>Senha:</strong> <%= @usuario.senha_provisoria %></p>
<br>
<br>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">M. Cumprimentos</p>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">A Equipa Facom</p>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">+244 913 747 220</p>
