<br>
<h3 style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">
  Olá, Sr. <%= @registo.nome_user %>
</h3>
<br>
<p>O seu registo foi enviado com sucesso</p>
<p>Vai ser analizado e aprovado mais breve possível</p>
<br>

<br>
<br>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">M. Cumprimentos</p>
