<ul class="nav nav-tabs">
  <li class="active" role="presentation"><a href="#imposto-associado" aria-controls="IMPOSTOS" role="tab" data-toggle="tab">Tipos de Impostos</a></li>
</ul>

<br>

<div class="tab-content"> <!-- Tab panes -->
  <div class="active" role="tabpanel" class="tab-pane" id="imposto-associado"></div>
</div>
