<br>
<h3 style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">
  Olá, <%= @@user.nome %>
</h3>
<br>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">A Conta de Email para o vosso condomínio foi criado. Acesse ao vosso email para obter os dados do serviço meuCondo.</p>
<br>
<h5>Dados do Email</h5>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">Clica aqui para abrir o site do email => <strong><%= link_to "Site do Email", "http://correio.condominio.co.ao" %></strong></p>
<br>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;"><strong>Usuário:</strong> <%= @@user.email %></p>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;"><strong>Senha(Inicial):</strong> <%# @registo.senha_provisoria %></p>
<br>
<br>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">M. Cumprimentos</p>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">A Equipa SmartTechys</p>
<p style="text-align:justify;font-size: 16px;color: #000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">+244 992 216 904</p>
