<div class="container">
  <div class="flex-row flex-center-xs margin-portal-2">
    <div class="flex-col-xs padding-nos-cards">
      <h1 class="color-texto-portal">Clientes mas perto</h1>
      <p class="text-center"><i class="fa fa-users" aria-hidden="true" style="font-size: 1000%; color: #fff;  "></i></p>
      <h3 class="color-texto-portal">Clientes satisfeitos, fazendo Acompanhamento e visão das suas facturas (por meio de notificações)</h3>

    </div>

    <div class="flex-col-xs padding-nos-cards">
      <h1 class="color-texto-portal">Mais factura</h1>
      <p class="text-center"><i class="fa fa-file-o" aria-hidden="true" style="font-size: 1000%; color: #fff;  "></i></p>
      <h3 class="color-texto-portal">As suas facturas nas suas mãos, com maior segurança</h3>

    </div>
  </div>
</div>


<style media="screen">
  .margin-portal-2{
    margin-top: 8%;
    margin-bottom: 8%;
  }
</style>
