<div class="container">
  <div class="flex-row flex-center-xs margin-portal-2">
    <div class="flex-col-xs padding-nos-cards">
      <h1 class="color-texto-portal">Clientes</h1>
      <p class="text-center"><i class="fa fa-users" aria-hidden="true" style="font-size: 1000%; color: #fff;  "></i></p>
      <h3 class="color-texto-portal">Clientes satisfeitos, fazendo acompanhamento e visão das suas facturas</h3>

    </div>

    <div class="flex-col-xs padding-nos-cards">
      <h1 class="color-texto-portal">Facturas</h1>
      <p class="text-center"><i class="fa fa-file-o" aria-hidden="true" style="font-size: 1000%; color: #fff;  "></i></p>
      <h3 class="color-texto-portal">As suas facturas nas suas mãos, com maior segurança</h3>

    </div>
  </div>
</div>
