
<br>
<br>
<br>
<br>


<div class="container">


  <div class="flex-row flex-center-xs">
    <div class="flex-col-xs-12 flex-col-sm">
      <h1 class="color-texto-portal">Seus Clientes mas perto</h1>
      <h3 class="color-texto-portal">Clientes satisfeitos, fazendo Acompanhamento e visão das suas facturas (por meio de notificações)</h3>
    </div>

    <div class="flex-col-xs-12 flex-col-sm text-right">
    </div>

    <div class="flex-col-xs-12 flex-col-sm text-right">
      <%= image_tag("browser.svg", alt: "logotipo da facom", class:"img-responsive", style: "width: 50%;") %>
    </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="flex-row flex-center-xs">
    <div class="flex-col-xs-12 flex-col-sm text-right">
      <%= image_tag("doc.svg", alt: "logotipo da facom", class:"img-responsive", style: "width: 50%;") %>
    </div>

    <div class="flex-col-xs-12 flex-col-sm text-right">
    </div>

    <div class="flex-col-xs-12 flex-col-sm">
      <h1 class="color-texto-portal"></h1>
      <h3 class="color-texto-portal">As suas facturas nas suas mãos, com maior segurança</h3>
    </div>
  </div>


</div>

<br>
<br>
<br>
<br>
