<div class="container">
  <div class="flex-row">
    <div class="flex-col-xs">
      <h4 style="color: #fff;">CONTACTO</h4>
      <div class="itens-contactos">
        <p style="color: #fff;"><i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px;">  </i><sp>+244 922 291 218</sp></p>
        <p style="color: #fff;"><i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px;">  </i><sp>+244 913 747 220</sp></p>
        <p style="color: #fff;"><i class="fa fa-envelope-o" aria-hidden="true" style="margin-right: 5px;">  </i><sp>facom@gmail.com</sp></p>
      </div>
    </div>

    <div class="flex-col-xs text-right">
      <%= link_to new_registo_path do %>
        <button type="button" class="btn btn-registar-rodape">REGISTAR-SE</button>
      <% end%>
    </div>

  </div>
</div>
