<div class="flex-row flex-center-xs">
  <div class="flex-col-xs-12 flex-col-sm">
    <h1>Velocidade e Eficiência</h1>
    <h3>Com a faCom poderais imprimir as suas facturas, em qualquer parte e em qualquer hora.</h3>
  </div>

  <div class="flex-col-xs-12 flex-col-sm text-right">
  </div>

  <div class="flex-col-xs-12 flex-col-sm text-right">
    <%= image_tag("printer.svg", alt: "logotipo da facom", class:"img-responsive", style: "width: 50%;") %>
      <br>
      <br>
      <br>
      <br>
      <%= link_to new_registo_path do %>
        <button type="button" class="btn btn-registar">REGISTAR-SE</button>
      <% end%>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="flex-row flex-center-xs">
  <div class="flex-col-xs-12 flex-col-sm text-right">
    <%= image_tag("archive.svg", alt: "logotipo da facom", class:"img-responsive", style: "width: 50%;") %>
  </div>

  <div class="flex-col-xs-12 flex-col-sm text-right">
  </div>

  <div class="flex-col-xs-12 flex-col-sm">
    <h1>Control e Relatório</h1>
    <h3>Serais capaz de fazer o Controle e armazenamento das suas facturas de forma segura e os seus relatórios (quantidade das suas facturas)</h3>
  </div>
</div>
