<div class="flex-row flex-center-xs">
  <div class="flex-col-xs padding-nos-cards">
    <h1>Velocidade e Eficiência</h1>
    <p class="text-center"><i class="fa fa-print" aria-hidden="true" style="font-size: 1000%; color: #64b7d0 "></i></p>
    <h3>Imprimir as suas facturas, em qualquer lugar e em qualquer hora.</h3>

  </div>

  <div class="flex-col-xs padding-nos-cards">
    <h1>Controle e Relatório</h1>
    <p class="text-center"><i class="fa fa-folder-open-o" aria-hidden="true" style="font-size: 1000%; color: #64b7d0 "></i></p>
    <h3>Controla e armazena as suas facturas de forma segura.</h3>

  </div>
</div>
